server {
    listen 80;
    server_name _;       

    gzip on;

    index index.php;
    root ${GLPI_DOCUMENT_ROOT};
    
    location / {try_files $uri $uri/ index.php;}
    
    location ~ \.php$ {
        fastcgi_pass ${GLPI_HOST}:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_param SERVER_NAME $host;
    }
}